/.terraform/
*.pem
.terraform.tfstate
.terraform.tfstate.backup
kubeconfig-master.conf
kubeadm_join_command
ecr-image-pull-secret.json
.terraform.tfstate.lock.info
terraform.tfstate.backup
terraform.tfstate.terraform/
*/.terraform/
k8s/.terraform/*